<div growl></div> 
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a >C O A Header</a></li>
  <li role="presentation" ><a href="#/masterCoaDetil">C O A Detil</a></li>  
</ul>

<div class='container-fluid' uib-collapse="tutupGrid"  style="background-color:white"  >
<br>	<div>
		Cari Nama  : <input id='idCari' type='text' ng-model='searchNama' ng-change='getAll()' >
		Cari kode  : <input id='idCari' type='text' ng-model='searchKode' ng-change='getAll()' >
		
		<input type='button' 				
				class='btn btn-primary btn-xm'
				ng-click='tambahCoaHdr()'				
				value="  Add New " 
				style='width:15em; height:3em'				
				/>
		<input type='button' 				
				class='btn '
				ng-click='previewLaporan()'				
				value="  preview " 
				style='width:15em; height:3em'				
				/>
	</div>
	<br>
	<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF"  >
		<thead>
			<tr>
				<!-- <td width="10%"><button class="btn btn-block btn-default" ng-click='urut("idAccountHdr")'>ID</button></td> -->
			    <td width="10%"><button class="btn btn-block btn-default" ng-click='urut("kodeAccount")'>kode</button></td> 			    
			    <td width="50%" align="center"> <button class="btn btn-block btn-default" ng-click='urut("namaAccount")'>Nama</button> </td>			    
			    <td width="15%" colspan="2"><button class="btn btn-block btn-default">Action</button></td>
			    <!-- <td width="10%"></td> -->
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat='coahdr in coaHdrs | orderBy:orderCoa ' >
				<!-- <td>{{coahdr.idAccountHdr}}</td>				 -->
			    <td>{{coahdr.kodeAccount}}</td> 
			    <td>{{coahdr.namaAccount}}</td>							    
			    <td><button type='button' class='btn btn-warning btn-block btn-sm'
			    	ng-click='ubahCoa(coahdr.idAccountHdr,$index)'
			    	><span> Edit </span></button></td>
			    <td><button type='button' class='btn btn-danger btn-block btn-sm'
			    	ng-click='hapusCoa(coahdr.idAccountHdr,coahdr.namaAccount)'
			    	>Delete</button></td>		    
			</tr>		
		</tbody>
	</table>
	<div class="row">
        <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" 
         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></uib-pagination>
    </div>
</div>

<div uib-collapse="!tutupGrid" ng-class='classForm' class='container-fluid' style='color:whitesmoke'  >
	<div>
		<h3 >Detil</h3>				
		<hr>
		<form class="form-horizontal">
		    
		    <div class="form-group form-group-sm">
		        <label for="id" class="col-sm-2 control-label">ID</label>
		        <div class="col-sm-2">
		        	<input type='text' class="form-control " ng-disabled='true' id="id" ng-model='coaHdr.idAccountHdr' />              
		        </div>
		    </div>

		    <div class="form-group form-group-sm">
		        <label for="kodeAccount" class="col-sm-2 control-label">Kode</label>
		        <div class="col-sm-2">
		        	<input type='text' class="form-control " id="kodeAccount" ng-model='coaHdr.kodeAccount' size="50" />              
		        </div>
		    </div>

		    <div class="form-group form-group-sm">
		        <label for="namaAccount" class="col-sm-2 control-label">Nama</label>
		        <div class="col-sm-6">
		        	<input type='text' class="form-control " id="namaAccount" maxlength='100' ng-model='coaHdr.namaAccount' size="50"  />              
		        </div>
		    </div>
		    

		</form>		
			

		<table border='0' >
			<thead>
				<tr >
					<td width='8%'></td>
					<td width='1%'></td>
					<td width='8%'></td>
					<td width='20%'></td>
					<td width='20%'></td>
				</tr>	
			</thead>			
			<tbody>
				<tr>
					<td><button class="btn btn-warning btn-block" ng-click='proses()'>Ok</button></td>
					<td></td>					
					<td><button class="btn btn-success btn-block" ng-click='tutupDetil()'>Close</button></td>
					<td></td>					
					<td></td>					
				</tr>
			</tbody>
		</table>
		<br>
	</div>

	
</div>