<div growl></div> 
<ul class="nav nav-tabs">
  <li role="presentation" class="active" ><a>Daftar Jurnal</a></li>
  <li role="presentation"><a href="#/transaksiJurnalDetil/new"> Jurnal Detil</a></li>  
</ul>
<div class='container-fluid' uib-collapse="tutupGrid" style="background-color:white" >
	<br>
	<form class="form-inline">	
		<div class="form-group">
    		<label >No Urut</label>
    		<input type='text' ng-model='searchNoUrut' ng-change='getAll()' class="form-control" id='cariNoUrut'>
  		</div>
		<div class="form-group">
    		<label for="exampleInputName2">No voucher</label>
    		<input type='text' ng-model='searchNoVoucher' ng-change='getAll()' class="form-control" >
  		</div>	
  	</form>	
  	<br>
	<form class="form-inline">	
		<label >Tanggal</label>
  		<p class="input-group">
          	<input 	type="text" 
          			class="form-control" 
          			uib-datepicker-popup="dd-MMM-yyyy" 
          			ng-model="tgl1" 
          			id="tgl1"
          			size='15%'
          			is-open="opened" 
          			datepicker-options="dateOptions" 
          			date-disabled="disabled(date, mode)" 
          			ng-required="true" 
          			close-text="Close" 
          			alt-input-formats="altInputFormats" />
          	<span class="input-group-btn">
            	<button type="button" class="btn btn-info" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>
        <label >s/d</label>
        <p class="input-group">
          	<input 	type="text" 
          			class="form-control" 
          			uib-datepicker-popup="dd-MMM-yyyy" 
          			ng-model="tgl2" 
          			id="tgl2"
          			size='15%'
          			is-open="opened2" 
          			datepicker-options="dateOptions" 
          			date-disabled="disabled(date, mode)" 
          			ng-required="true" 
          			close-text="Close" 
          			alt-input-formats="altInputFormats" />
          	<span class="input-group-btn">
            	<button type="button" class="btn btn-info" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          	</span>
        </p>

		
<!-- 			<input type="text" 						
				uib-datepicker-popup= 
				ng-model="tgl1" 
				is-open="" 
				datepicker-options="dateOptions" 
				
				ng-required="true" 
				
				close-text="Tutup" 					
				
				/>
				<button type="button" class="btn btn-info" ng-click="open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button> -->
		<!-- s/d  : -->
			<!-- <input type="text" 						
				uib-datepicker-popup="dd-MMM-yyyy" 
				ng-model="tgl2" 
				is-open="opened2" 
				datepicker-options="dateOptions" 
				date-disabled="disabled(date, mode)" 
				ng-required="true" 
				id='tgl2'
				close-text="Tutup" 					
				size='15%'
				/> 
				<button type="button" class="btn btn-info " ng-click="open2($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button> -->
		<label >Status</label>
		<select ng-model="cariStatus" ng-options="statusVoucher as statusVoucher for statusVoucher in statusVouchers" ></select>
		<button class="btn btn-success " size='10%' ng-click='getAll()'  >
			<span class="glyphicon glyphicon-refresh" aria-hidden="true">    Refresh   
		</button>
		<br>		
	</form>
	<br>
	<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF" >
		<thead>
			<tr>				
			<!-- -->
				<td width="5%" align="center"><button class="btn btn-block btn-default" ng-click='urut("id")'>Id</button></td>
				<td width="15%" ><button class="btn btn-block btn-default" ng-click='urut("jenisVoucher")'>Jenis</button></td>			    
			    <td width="15%"><button class="btn btn-block btn-default" ng-click='urut("noUrut")'>No Urut</button></td> 			    			    
			    <td width="10%"><button class="btn btn-block btn-default" ng-click='urut("issueDate")'>Issue Date</button></td>
			    <td width="10%"><button class="btn btn-block btn-default" ng-click='urut("bookingDate")'>Booking Date</button></td>
			    <td width="15%"><button class="btn btn-block btn-default" ng-click='urut("noVoucher")'>No Voucher</button></td> 			    			    
			    <td width="10%"><button class="btn btn-block btn-default" ng-click='urut("statusVoucher")'>Status</button></td>			    
			    <td width="10%"><button class="btn btn-block btn-default" ng-click='urut("user.nama")'>User</button></td>			    
			    <td width="10%" ></td>
			    <!-- <td width="10%"></td> -->
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat='jurnalHeader in jurnalHeaders | orderBy:orderJurnalHeader ' 
				 >
				<td  ><a href="#/transaksiJurnalDetil/{{jurnalHeader.id}}">{{jurnalHeader.id}}</a></td>
				<td><a href="#/transaksiJurnalDetil/{{jurnalHeader.id}}">{{jurnalHeader.jenisVoucher}}</a></td>							    
				<td><a href="#/transaksiJurnalDetil/{{jurnalHeader.id}}">{{jurnalHeader.noUrut}}</a></td>				
			    <td ng-class="jurnalHeader.jenisVoucher=='PENGELUARAN'? 'tulisanMerah' : ( jurnalHeader.jenisVoucher=='PENERIMAAN'? 'tulisanBiru' :'tulisanHijau' )">
			    {{jurnalHeader.issueDate | date:'dd-MMM-yyyy'}}</td> 
			    <td ng-class="jurnalHeader.jenisVoucher=='PENGELUARAN'? 'tulisanMerah' : ( jurnalHeader.jenisVoucher=='PENERIMAAN'? 'tulisanBiru' :'tulisanHijau' )">
			    {{jurnalHeader.bookingDate | date:'dd-MMM-yyyy'}}</td> 
			    <td ng-class="jurnalHeader.jenisVoucher=='PENGELUARAN'? 'tulisanMerah' : ( jurnalHeader.jenisVoucher=='PENERIMAAN'? 'tulisanBiru' :'tulisanHijau' )">
			    {{jurnalHeader.noVoucher}}</td>					
			    <td ng-class="jurnalHeader.jenisVoucher=='PENGELUARAN'? 'tulisanMerah' : ( jurnalHeader.jenisVoucher=='PENERIMAAN'? 'tulisanBiru' :'tulisanHijau' )">
			    {{jurnalHeader.statusVoucher}}</td>
			    <td ng-class="jurnalHeader.jenisVoucher=='PENGELUARAN'? 'tulisanMerah' : ( jurnalHeader.jenisVoucher=='PENERIMAAN'? 'tulisanBiru' :'tulisanHijau' )">
			    {{jurnalHeader.user.nama}}</td> 		    
			    <!-- <td><button type='button' class='btn btn-warning btn-block btn-sm'
			    	ng-click='#/transaksiJurnalDetil/jurnalHeader.id/'
			    	><span> Edit </span></button>
					<a href="#/transaksiJurnalDetil/{{jurnalHeader.id}}"> <span class="glyphicon glyphicon-edit"></span>  Ubah</a>
			    	</td> -->
			    <td><button type='button' class='btn btn-danger btn-block btn-sm'
			    	ng-click='hapusFisikVoucher(jurnalHeader.id)'
			    	>Hapus Data <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			    </td>		    
			</tr>		
		</tbody>
	</table>
	<div class="container">
        <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" 
         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></uib-pagination>
    </div>
</div>
